<div class="main">

    <div class="main-box">
        <div class="left-section">
            
            <div class="about-text">
                <h3>Receitas de todas as vovós do Brasil em um só lugar</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint, hic cupiditate natus provident non
                enim cum aspernatur quas repellendus harum dolores distinctio architecto rerum minus. Dolor unde consectetur
                illum tempora?</p>
            </div>
            
            <div class="button-section">
                <button>Entrar</button>
                <button>Criar Conta</button>
                <button>Ver Receitas</button>
            </div>
        </div>

        <div class="right-section">
            <p>FIRULAS</p>
        </div>
    </div>

</div>