.main {
    padding-top: 40px;
    display: flex;
    justify-content: center;
}

.main-box {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70vh;
    width: 80vw;
    border-radius: 15px;
    background-color: var(--secondary);
    box-shadow: 0.5px 0.5px 20px gray;
}

.left-section {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: justify;
}

h2 {
    font-family: "REM", sans-serif;
    font-size: 80px;
    color: var(--primary);
}

.right-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.about-text {
    font-family: "Roboto", sans-serif;
    font-size: x-large;
    padding: 20px;
    color: var(--accent);
}

.button-section {
    padding-left: 20px;
    gap: 30px;
    display: flex;
}

#logo-img {
    /* padding: 100px; */
    margin: 0 auto;
    width: 600px;
}

.buttons {

    padding: 0.5rem 5rem;
    color: white;
    background: var(--primary);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 30px;
}

#explore-text {
    font-family: "REM", sans-serif;
    font-size: xx-large;
    color: black;
    padding-top: 20px;
}


@media (max-width: 1550px) {
    #logo-img {
        /* padding: 100px; */
        width: 400px;
    }

    h2 {
        font-size: 3.8rem;
    }

    #explore-text {
        font-size: 1.3rem;
    }
}