<div class="main">

    <div class="main-box">
        <div class="left-section">
            <!-- fonte: REM -->
            <h2>Receitas únicas, amor de vovó</h2> 
            <div class="about-text">
                <!-- ROBOTO -->
                <p>Descubra sabores autênticos compartilhados por vovós apaixonadas e amantes da culinária. De pratos raizes a criações contemporâneas,
                    aqui é um paraíso gastronômico para todos os entusiastas da culinária.
                    <p id="explore-text">Desperte o chef que há em você e comece a sua jornada gastronômica conosco!</p>
            </div>

            <div class="button-section">
                <button class="buttons">Criar Conta</button>
                <button class="buttons">Entrar</button>
                <button class="buttons">Ver Receitas</button>
            </div>
        </div>

        <div class="right-section">
            <img id="logo-img" src="../../assets/logo.png">
        </div>
    </div>

</div>