.main {
    display: flex;
    justify-content: center;
}

.main-box {
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70vh;
    width: 80vw;
}

.left-section {
    display: flex;
    flex-direction: column;
    /* background-color: aquamarine; */
    width: 100%;

    box-shadow: 0, 1, 1, 1;
    height: 100%;
}

.right-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: yellow; */
    width: 100%;
    height: 100%;
}

.about-text {
    padding: 10px;
}

.button-section {
    display: flex;
}

#logo-img {
    padding: 100px;
    width: 600px;
}
