<div class="create">
    <div>
        <div>
            <input [(ngModel)]="recipe.name" class="input-style" type="text" placeholder="Nome da Receita" id="title">
        </div>
        <div>
            <textarea [(ngModel)]="recipe.author" class="input-style" placeholder="Descrição"></textarea>
        </div>
    </div>

    <div class="form-floating avatar-input" (click)="file.click()">
        <img src="{{ getImgSrc() }}" class="image-preview" />
        <input style="display: none" class="form-control" id="floatingFile" type="file" #file
            (change)="uploadFile(file.files)" />
        <label for="floatingFile">{{ title }}</label>
        <img id="more" src="../../assets/sinal-de-mais.png" alt="">
    </div>

    <app-ingredient-list [ingredients]="recipe.ingredients"></app-ingredient-list>
    <br>

    <br>
    <app-step-list [steps]="recipe.steps"></app-step-list>
    <br>
    <br>
    <button class="confirm" (click)="sendRecipe()">
        Adicionar Receita
    </button>
</div>