.create {
    margin: 0 auto;
    margin-bottom: 2rem;
    width: 60%;
}

.create input,
textarea {
    width: 100%;
    margin: 1rem 0;
}

.input-style {
    padding: 0.75rem 1.25rem;
    outline: 1px solid lightgray;
    border-radius: 25px;
    border: 0;

    transition: .05s;

    margin: .25rem 0 0.75rem 0;
}

input[type="text"]:focus {
    outline: 2.5px solid var(--primary);
    transition: 0.2s;
}

textarea:focus {
    outline: 2.5px solid var(--primary);
    transition: 0.2s;
}

.confirm {
    border: 1px solid var(--primary);
    border-radius: 1rem;
    
    color: var(--primary);
    background-color: white;
    width: 100%;
    padding: 0.5rem 0;
    font-weight: bold;

    transition: 0.3s;
}

.confirm:hover {
    background-color: var(--primary);
    color: white;
}

.form-floating:hover #more{
    transition: 0.2s;
    opacity: 1;
}

.form-floating{
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-preview{
    max-width: 100%;
    max-height: 50vh;

    border: 2px solid var(--primary);
    border-radius: 1rem;

    background-repeat: no-repeat;
    background-size: cover;

    transition: 0.3s;

    margin-bottom: 1rem;
}

#more{
    width: 50px;

    position: absolute;
    cursor: pointer;

    opacity: 0;
    transition: 0.3s;
}