body {
    height: 91vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 50vw;
    height: 60vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: "login";
    box-shadow: 0 0 17px 10px rgb(0 0 0 / 15%);
    border-radius: 20px;
    background: white;
    overflow: hidden;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background: white;
}

.login h3.title{
    margin: 15px 0;
}

.text-input {
    background: #e6e6e6;
    height: 40px;
    width: 60%;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 0 15px;
    margin: 5px 0;
}

.text-input input{
    background: none;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    margin-left: 10px;
}

.text-input i {
    color: #686868;
}

.login-btn {
    width: 60%;
    padding: 10px;
    color: white;
    background: var(--primary);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 30px;
}

a {
    font-size: 12px;
    color: #9a9a9a;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
}

a.forgot {
    margin-top: 15px;
}

.create {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 30px;
}

.create i {
    color: #9a9a9a;
    margin-left: 10px;
}
