<div class="main">
    <div class="left-section">
        
        <div class="profile-pic">
            <img src="../../assets/logo.png" style="width: 250px;">
        </div>

        <div class="data-user">
            <h1>Dona Maria</h1>
            
            <h4>Desde 2009</h4>
            <h4>Receitas Publicadas: 100</h4>

            <h5>Bio: Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio quisquam ullam facilis dignissimos placeat,
            maiores ab nihil voluptatem, cumque laborum numquam recusandae esse porro, neque in doloremque sit. Cum, aut.</h5>
        </div>


    </div>

    <div class="infos">
        <app-recipe-list></app-recipe-list>
    </div>
</div>