* {
    --shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    --colorFont: #3C3C3C;
}


body {
    height: 100%;

    margin-top: 7vh;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.nameRecipe {
    width: 100%;
    height: 7vh;
    margin-bottom: 3vh;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 7px;
    background: white;
    color: var(--colorFont);
    overflow: hidden;
}

.nameRecipe h3 {
    margin: 0;
    font-size: 50px;
}

.container {
    width: 100%;
    height: 30vh;

    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: "login";

    box-shadow: var(--shadow);
    border-radius: 7px;
    background: white;
    overflow: hidden;
}

.containerRecipe {
    width: 50%;
}

.containerDescriptionRecipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    background: white;

    padding: 0, 15px, 0, 15px;
}

.containerDescriptionRecipe h2 {
    font-size: 15px;
}

.container .title {
    margin: 15px 0;
    color: var(--primary);
}

.containerImg {
    width: 100%;
    height: 50vh;

    top: 0;

    border-radius: 7px;
    margin-bottom: 2vw;
}

.containerImg img {
    width: 100%;
    height: 100%;

    border-radius: 7px;
}

.containerIngredients .title {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 3vh;
    margin-bottom: 3vh;
    border-radius: 7px;

    box-shadow: var(--shadow);

    color: var(--primary);
}

.containerMethodOfPreparation .title {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 3vh;
    border-radius: 7px;

    box-shadow: var(--shadow);

    color: var(--primary);
}

.time {
    margin-bottom: 3vh;
    margin-top: 3vh;
}

.ingredients {
    display: flex;
    flex-wrap: wrap;
}

.ingredients h5 {
    width: 50%;

    font-size: 15px;

}

.stepByStep {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 100%;

    border-bottom: 1px solid rgb(0, 0, 0, 0.1);
}

.containerStep {
    display: flex;
    width: 100%;

    margin-bottom: 2vh;
}

.containerStep h5 {
    font-size: 15px;
    margin: 0;
}

.stepByStep .number {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 17px;
    border-radius: 50%;
    border: 1px solid lightgray;
    padding: 10px;
    margin-right: 10px;

    height: 30px;

    color: var(--primary);
}