
<div class="list">
    <div class="item">
        <app-recipe-item></app-recipe-item>        
    </div>
    <div class="item">
        <app-recipe-item></app-recipe-item>        
    </div>
    <div class="item">
        <app-recipe-item></app-recipe-item>        
    </div>
    <div class="item">
        <app-recipe-item></app-recipe-item>        
    </div>
    <div class="item">
        <app-recipe-item></app-recipe-item>        
    </div>
    <div class="item">
        <app-recipe-item></app-recipe-item>        
    </div>

        


</div>
