.list
{   
    display: flex;
    flex-wrap: wrap;

    margin: 0 auto;
    gap: 2rem;

    justify-content: flex-start

    /* min-width: 40%;
    max-width: 45%; */
    /* margin: 0 auto;
    
    overflow-y: auto;
    max-height: 80vh; */
}

.item
{
    outline: 1px solid lightgray;
    border-radius: 5px;
    
    box-shadow: 5px 5px 10px lightgray;
    
    cursor: pointer;
}

.item:hover
{
    outline: 2px solid var(--primary);
    
}

