/* You can add global styles to this file, and also import other style files */
* {
    --text: #000000;
    --background: #ffffff;
    --primary: #FF6A28;
    --secondary: #FFD89E;
    --accent: #887353;
}
