@import url('https://fonts.googleapis.com/css2?family=REM:wght@300;400;500;700&family=Roboto:wght@400;500;700&display=swap');

* {
    --text: #000000;
    --background: #ffffff;
    --primary: #FF6A28;
    --secondary: #FFD89E;
    --accent: #887353;
}

button :hover {
    cursor: pointer;
}
