<div class="navigation">
    <div class="title" routerLink="">
        <h5 class="tudo">TUDO</h5>
        <h5 class="horroroso">HORROROSO</h5>
    </div>
    <div class="wrap">
        <input class="search" type="text" id="txtBusca" placeholder="Procure uma receita, um ingrediente, um tipo de prato..."/>
        <button class="buttonSearch">
            <h1>Search</h1>
        </button>
    </div>
    <div class="user" routerLink="/profile">
        <i class="ri-user-3-line"></i>
    </div>
</div>
