.navigation {
    width: 100%;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    height: 9vh;
    padding-top: 2vh;
    padding-bottom: 2vh;

    border-bottom: 1px solid rgb(0, 0, 0, 0.1);
}

.title {
    display: flex;
    color: var(--primary);
    cursor: pointer;
    padding: 1rem 0;
}

.title .horroroso {
    color: #c23a00;
}

.title h5
{
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
}

.wrap {
    display: flex;
    transition: 0.2s;
}

.buttonSearch:hover {
    background-color: #ff8c5b;
    transition: 0.2s;
}

.search {
    width: 30vw;
    height: 5vh;
    padding-left: 25px;

    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border: none;
    outline: none;

    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 4px 0px, rgba(211, 61, 16, 0.32) 0px 2px 16px 0px;
}

.buttonSearch {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 10vw;
    height: 5vh;
    background-color: var(--primary);

    border: none;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;

    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

    transition: 00.3s;
}

.buttonSearch h1 {
    font-size: 15px;
    margin: 0;
    color: white;
}

.user i {
    font-size: 20px;
    border-radius: 50%;
    border: 1px solid lightgray;
    padding: 10px;
    transition: 0.3s;
}

.user :hover{
    cursor: pointer;
    transition: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
