header {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    
    height: 6vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    
    border-bottom: 1px solid rgb(0, 0, 0, 0.1);
}

.title {
    font-size: 30px;
    color:  var(--primary);
}

.container {
    display: flex;
}

.search {
    width: 30vw;
    padding-left: 25px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border: none;
}

.buttonSearch {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: var(--primary);
    width: 10vw;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    }

.buttonSearch h1{
    font-size: 15px;
    color: white;
}

.buttonSearch :hover{
    background-color: #ff7b42;
}

.user button{
    border: none;
    border-radius: 100%;
    width: 5vh;
    height: 5vh;
    background-color: #e9e9e9;
}

.user i{
    font-size: 20px;
}

.user :hover{
    transition: 0.5s;
    background-color: #f8f8f8;
    box-shadow: 2px 1px 17px 1px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 2px 1px 17px 1px rgba(0, 0, 0, 1);
    -moz-box-shadow: 2px 1px 17px 1px rgba(0, 0, 0, 1);
}

