.head
{
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--lightbrown);
    color: white;

    font-weight: 600;

    padding: .75rem 1.25rem;

    border-radius: 25px 25px 0 0;
}



.item {
    border: 1px solid lightgray;
    border-top: 0;
    padding: 15px;
    color: gray;
    font-weight: bold;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

p
{
    margin: 0;
    padding: 0;
}


.create
{
    display: flex;    
}

.create input
{ 
    width: 80%;
    border-radius: 0 0 0 15px;
    padding: 15px;
    border: 0;

    outline: 1px solid lightgray;
}

.create button
{
    width: 20%;
    border: 0;
    background-color: white;
    border-radius: 0 0 15px;
    color: var(--lightbrown);
    font-weight: 800;

    outline: 1px solid var(--lightbrown);
    transition: 0.3s;
}

.create button:hover
{
    background-color: var(--lightbrown);
    color: white;
}


.step-wrap
{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.index
{
    border: 2px solid var(--lightbrown);
    color:var(--lightbrown) ;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}